build/*
!build/CMakeLists.txt

tool/*
!tool/CMakeLists.txt
!tool/src/
!tool/README.md

libs/image/*
!libs/image/CMakeLists.txt
!libs/image/include/
!libs/image/src/
!libs/image/tests/

libs/imageio/*
!libs/imageio/CMakeLists.txt
!libs/imageio/include/
!libs/imageio/src/

libs/utils/*
!libs/utils/CMakeLists.txt
!libs/utils/include/
!libs/utils/src/
!libs/utils/test/
!libs/utils/benchmark/

libs/math/*
!libs/math/CMakeLists.txt
!libs/math/include/
!libs/math/tests/
!libs/math/benchmark/
!libs/math/dummy.cpp

third_party/astcenc/tnt/*
!third_party/astcenc/tnt/CMakeLists.txt

third_party/getopt/*
!third_party/getopt/CMakeLists.txt
!third_party/getopt/include/
!third_party/getopt/src/
!third_party/getopt/LICENSE

third_party/libpng/tnt/*
!third_party/libpng/tnt/CMakeLists.txt

third_party/robin-map/*
!third_party/robin-map/CMakeLists.txt
!third_party/robin-map/LICENSE
!third_party/robin-map/README.md
!third_party/robin-map/appveyor.yml
!third_party/robin-map/test_robin_map
!third_party/robin-map/tests/
!third_party/robin-map/tnt/CMakeLists.txt
!third_party/robin-map/.travis.yml
!third_party/robin-map/tsl/


third_party/stb/tnt/*
!third_party/stb/tnt/CMakeLists.txt
!third_party/stb/tnt/README

third_party/tinyexr/tnt/*
!third_party/tinyexr/tnt/CMakeLists.txt
!third_party/tinyexr/tnt/tinyexr.cc
!third_party/tinyexr/tnt/README.md

third_party/etc2comp/*
!third_party/etc2comp/AUTHORS
!third_party/etc2comp/CONTRIBUTING
!third_party/etc2comp/EtcLib/
!third_party/etc2comp/EtcTool/
!third_party/etc2comp/LICENSE/
!third_party/etc2comp/README.md
!third_party/etc2comp/third_party/
!third_party/etc2comp/tnt/

third_party/libz/CMakeFiles/
third_party/libz/CMakeCache.txt
third_party/libz/cmake_install.cmake
